{% extends 'flatpages/index.html' %}
{% block content %}
<h3>{{ DetailAds.title }}</h3>
<p>{{ DetailAds.text }}</p>
{% if DetailAds.upload %}
    <video width="400" controls>
      <source src="{{DetailAds.upload.url }}" type="video/mp4">
      Your browser does not support HTML5 video.
    </video>

    <img src="{{ DetailAds.upload.url }}" width="650" height="500">
{% endif%}
<hr>
{% if DetailAds.author == request.user %}
    <a href="{% url 'EditingAds' pk=DetailAds.pk %}">Редактировать</a>
{% endif%}

{% endblock content %}