{% extends 'flatpages/index.html' %}

{% block content %}
<p align="right"><a href="{% url 'CreateAds' %}">Написать обявление</a></p>
{% for list in ListAds %}
<article class="article">

    <h3 class="article__title" align="left">
        <a href="{% url 'DetailAds' pk=list.pk %}">{{ list.title }}</a>
        <a href="{% url 'ResponseButton' pk=list.pk %}">Откликнуться</a>
    </h3>
    <div align="left" class="category_post_list">
        <p align="left">категории: {{ list.category }}</p>
    </div>
    <div class="article__content" align="left">
        {{ list.text|truncatechars:40 }}
    </div>
        <div class="article__author author-article" align="right">
        <p>Автор: {{ list.author }}</p>
        <time class="article__datetime">Созданнo: {{ list.date_create|date:'H:i | M d Y' }}</time>
    </div>
</article>
    <hr>
{% endfor %}
{% endblock content %}
