{% extends 'flatpages/index.html' %}
{% load plaginate_tag %}

{% block content %}
<p align="right"><a href="{% url 'CreateAds' %}">Написать обявление</a></p>
{% for list in ListAds %}
<article class="article">

    <h3 class="article__title" align="left">
        <a href="{% url 'DetailAds' pk=list.pk %}">{{ list.title }}</a>
        <a href="{% url 'ResponseButton' pk=list.pk %}">Откликнуться</a>
    </h3>
    <div align="left" class="category_post_list">
        <p align="left">категории: {{ list.category }}</p>
    </div>
    <div class="article__content" align="left">
        {{ list.text|truncatechars:40 }}
    </div>
        <div class="article__author author-article" align="right">
        <p>Автор: {{ list.author }}</p>
        <time class="article__datetime">Созданнo: {{ list.date_create|date:'H:i | M d Y' }}</time>
    </div>
</article>
<hr>
{% endfor %}
{% if page_obj.has_previous %}
       {# Для каждой ссылки пагинации указываем обработку через новый тег #}
       <a href="?{% url_replace page=1 %}">1</a>
       {% if page_obj.previous_page_number != 1 %}
           ...
           <a href="?{% url_replace page=page_obj.previous_page_number %}">{{ page_obj.previous_page_number }}</a>
       {% endif %}
   {% endif %}

   {{ page_obj.number }}

   {% if page_obj.has_next %}
       <a href="?{% url_replace page=page_obj.next_page_number %}">{{ page_obj.next_page_number }}</a>
       {% if paginator.num_pages != page_obj.next_page_number %}
           ...
           <a href="?{% url_replace page=page_obj.paginator.num_pages %}">{{ page_obj.paginator.num_pages }}</a>
       {% endif %}
   {% endif %}
{% endblock content %}
